<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection.v0.1</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>ใส่รูปของคุณ</h1>
        {{form.as_p}}
        <input type="submit" value="Submit">
        <img src="/media/dash.png">

        
    </form>
</body>
</html>